<body class="container home">
<br><br>
<div class="container-fluid">
  <h1>Welcome to Petlanta Paws</h1>
</div>

  <% if @error %>
    <p><%=@error%> </p>
  <%end%>

<div class="container-fluid">
  <%= form_tag(login_path) do %>
  <label>Username:</label>
  <%= text_field_tag("username") %>
  <label>Password:</label>
  <%= password_field_tag("password") %><br>
  <%= submit_tag("Login") %><br>
  <%end%>
</div>
  
<div class="container-fluid">
<%= link_to("Create a New User", new_user_path)%>
</div>
  
</body>