<h1>Welcome to Petlanta Paws</h1>
<h2>Login Page</h2>
  <% if @error %>
    <p><%=@error%> </p>
  <%end%>

  <%= form_tag(login_path) do %>
  <label>Username:</label>
  <%= text_field_tag("username") %>
  <label>Password:</label>
  <%= password_field_tag("password") %>
  <%= submit_tag("Login") %>
  <%end%>

  <%= link_to("Create a New User", new_user_path)%>
