<body class="container newcomment">


<div class="container-fluid">
<br><%= link_to 'Back to show page', :back %>
</div>

<div class="container-fluid">
<h1>Create a New Comment</h1>
</div>

<% if @comment.errors %>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li style="color: red;"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="container-fluid">
<%= form_for(@comment) do |f|  %>
<%= f.text_area(:text, placeholder: "Enter Comment Here", :size => "50x5")%><br>
<%= f.hidden_field(:user_id, value: session[:user_id])%>
<%= f.collection_select(:pet_id, Pet.all, :id, :name)%><br>
<%= f.submit "Submit Comment" %>
<%end%>
</div>

</body>
