
<body class="allpets">


<div class="container search">

<h4><%=link_to("List a New Pet", new_pet_path)%></h4>
  <h4>Search</h4>
    <%= form_tag(pets_path, method: :get) do %>
      <%= select_tag 'search', options_for_select(@pets.collect{ |p| [p.category] }.uniq!.insert(0, "Select a Pet Type")) %><br>
      <%= submit_tag ("Search Pets") %>
    <% end %>
</div>

<div class="superpets">
  <ul>
    <%@pets.each do |pet|%>
      <li><%= link_to(pet.name, pet_path(pet))%></li>
    <%end%>
  </ul>
</div>


<footer class="footer mt-auto py-3">
  <div class="container">
    <%= image_tag("paw logo.png")%>
    <span class="text-muted">Content by |GIT LIT|42219| 1-800-ADOPT-A-PET  </span>
    <%= image_tag("gitlitlogo.png", class: "GL_logo") %>
  </div>
</footer>  



</body>
