<h1>Pet Information</h1>

<label>Name:</label>
<%= @pet.name %><br>

<label>Nickname:</label>
<%= @pet.nick_name %><br>

<label>Pet Type:</label>
<%= @pet.category %><br>

<label>Breed:</label>
<%= @pet.breed %><br>

<%=link_to("Edit Pet Info", edit_pet_path(@pet))%>
<%= link_to("Pet Index", pets_path)%>
