<h1>Pet Information</h1>

<label>Name:</label>
<%= @pet.name %><br>

<label>Nickname:</label>
<%= @pet.nick_name %><br>

<label>Pet Type:</label>
<%= @pet.category %><br>

<label>Breed:</label>
<%= @pet.breed %><br>

<label>Color:</label>
<%= @pet.color %><br>

<label>Age:</label>
<%= @pet.age %><br>

<label>Gender:</label>
<%= @pet.gender %><br>

<label>Selfie:</label>
<%= image_tag @pet.img_url %><br>

<label>Comments:</label><br>
<% @pet.comments.each do |comment|%>
  <%= comment.text %>
  <label>By:</label>
  <%= comment.user.username.capitalize %><br>
<%end%>

<%=link_to("Create a Comment", new_comment_path(@pet))%>
<%=link_to("Edit Pet Info", edit_pet_path(@pet))%>
<%= link_to("Pet Index", pets_path)%>
<%= link_to("Delete Pet Listing", pet_path(@pet), method: :delete)%>
