<h1>Pet Information</h1>

  <div class="pet-information">
    <ul class="pet-info-details">
      <li><label>Name:</label>
      <%= @pet.name.capitalize %><br></li>

      <li><label>Nickname:</label>
      <%= @pet.nick_name %><br></li>

      <li><label>Pet Type:</label>
      <%= @pet.category %><br></li>

      <li><label>Breed:</label>
      <%= @pet.breed %><br></li>

      <li><label>Color:</label>
      <%= @pet.color %><br></li>

      <li><label>Age:</label>
      <%= @pet.age %><br></li>

      <li><label>Gender:</label>
      <%= @pet.gender %><br></li>
    </ul>
  </div>

<label>Selfie:</label><br>
<%= image_tag(@pet.img_url, size: "650x900") %><br>


<label>Comments:</label>
<ul class="comments">
  <% @pet.comments.each do |comment|%>
    <li class="comment">
      <%= comment.text %>
    <label>By:</label>
    <%= comment.user.username.capitalize %><br>
    </li>
  <%end%>
</ul >

<div class="actions">
  <ul class="pet-actions">
    <li> <%= link_to("Create a Comment", new_comment_path(@pet))%> </li>
    <li> <%= link_to("Edit Pet Info", edit_pet_path(@pet))%> </li>
    <li> <%= link_to("Pet Index", pets_path)%> </li>
    <li> <%= link_to("Delete Pet Listing", pet_path(@pet), data: {confirm: "Are you sure you want to delete the pet listing for #{@pet.name} the #{@pet.category}?"},
      method: :delete)%> </li>
  </ul>
</div>
