<div class="alert alert-primary" role="alert">
<br><br><h1>Pet Information</h1>
</div>

  <div class="pet-information">
    <ul class="pet-info-details">
      <li><label>Name:</label>
      <%= @pet.name.capitalize %><br></li>

      <li><label>Nickname:</label>
      <%= @pet.nick_name %><br></li>

      <li><label>Pet Type:</label>
      <%= @pet.category %><br></li>

      <li><label>Breed:</label>
      <%= @pet.breed %><br></li>

      <li><label>Color:</label>
      <%= @pet.color %><br></li>

      <li><label>Age:</label>
      <%= @pet.age %><br></li>

      <li><label>Gender:</label>
      <%= @pet.gender %><br></li>

      <li><label>Adoption Status:</label>
      <% if @pet.user %>
        <%= "#{@pet.name} has been adopted by #{@pet.user.username.capitalize}!" %>
      <%else%>
        <%= "#{@pet.name} is still up for adoption!"%>
        <%= link_to("Adopt me!", new_adoption_path)%></li>
      <%end%>
    </ul>
  </div>


  <div class="container-fluid">
    <label>Selfie:</label><br>
    <%= image_tag(@pet.img_url, size: "650x900") %><br>
    <label>Likes:</label>
    <h2><%=@pet.likes.count%></h2><br><br>
  </div>

<div class="container-fluid">
  <label>Comments:</label>
    <ul class="comments">
      <% @pet.comments.each do |comment|%>
        <li class="comment"> <%= comment.text %>
        <label>By:</label>
        <%= comment.user.username.capitalize %><br>
        </li>
      <%end%>
    </ul >
 </div>

<div class="actions">
  <ul class="pet-actions">
    <li> <%= link_to("Create a Comment", new_comment_path(@pet))%> </li>
    <li> <%= link_to("Like!", new_like_path)%> </li>
    <li> <%= link_to("Adopt", new_adoption_path)%>
    <li> <%= link_to("Pet Index", pets_path)%> </li>
  </ul>
</div>
