<div class="container" >
  <h1>Edit User</h1>
  <%= form_for(@user) do |f| %>
  <%= f.text_field(:username)%><br>
  <%= f.email_field(:email)%><br>
  <%= f.password_field(:password, placeholder: "Password")%><br>
  <%= f.submit "Submit User Edit"%><br>
  <%end%>
</div>
