<div class="alert alert-primary" role="alert">
<br><br><h3><%= "Hello #{@user.username.capitalize}. Welcome to Petlanta Paws!"%></h3><br>
</div>
  <div class="account-details">
    <ul>
      <li><label>Username:</label>
        <%=@user.username%><br></li>
      <li><label>Email:</label>
        <%= @user.email%><br></li>
      <li><%=link_to("Edit Your Information", edit_user_path(@user))%></li>
      <li> <%= link_to("Delete Account", user_path(@user), data: {confirm: "Are you sure you want to delete your account?"},
          method: :delete)%> </li><br><br>
    </ul>
  </div>


  <div class="my-pets">
    <ul>
      <label>My Pets:</label><br>
        <% @user.pets.each do |pet|%>
        <li><%=link_to(pet.name, pet_path(pet))%> :: <%= link_to("Edit #{pet.name}", edit_pet_path(pet))%> :: <%= link_to("Delete Pet Listing", pet_path(pet), data: {confirm: "Are you sure you want to delete the pet listing for #{pet.name} the #{pet.category}?"},
          method: :delete)%> </li>
        <% end %>
    </ul>
  </div>



  <div class="my-comments">
    <ul>
      <label>My Comments:</label><br>
        <%@user.comments.each do |comment|%>
            <li> <%= link_to(comment.text, pet_path(comment.pet)) %> </li>
        <% end %>
    </ul>
  </div>
