<h1>You want to adopt? Fantastic!</h1>

<!--old code that allowed for adopted pets to be readopted
<%= form_for(@adoption) do |f| %>
  <%= f.hidden_field(:user_id, value: session[:user_id])%>
  <%= f.collection_select(:pet_id, Pet.all, :id, :name) %>
  <%= f.submit ("Adopt")%>
<% end %>
-->

<%= form_tag(adoptions_path) do %>
  <select name="adoption[pet_id]">
    <% Pet.all.sort_by(&:name).each do |pet| %>
      <% if pet.adoption.nil? %>
        <option value="<%= pet.id %>"><%= pet.name %></option>
      <% end %>
    <% end %>
  </select>
  <input type="submit" value="Adopt!">
<% end %>

<img src="https://media0.giphy.com/media/lHsCS3IickU7e/giphy.gif?cid=790b76115ceea2cf654566665921e771&rid=giphy.gif">
<label>This could be you!</label>
