<h1>New Adoption Form</h1>

<ul>
    <% @adoption.errors.full_messages.each do |error| %>
        <li style="color: red;"><%= error %></li>
    <% end %>
</ul>
<h3>
<% @pets.each do |pet| %>
  <%= image_tag(@pet.image_url) %>
<br>
<% end %>
</h3>

<%= form_for(@adoption) do |f| %>
  <label>Available Pets</label><br>
  <%= f.collection_select(:pet_id, Pet.all, :id, :name) %>
<br>
<br>
  <label>Photo URL</label><br>
  <%= f.text_field :img_url %><br><br>
<br>
  <%= f.submit %>
<% end %>
