<body class="adoption complete">
  <div>
    <h1>Petlanta Paws Adoption Successfully Completed</h1>
  </div><br><br>


  <div class="container_adopt">
    <h4>
      Congratulations <%= @adoption.user.username.capitalize %>! You have adopted <%= @adoption.pet.name %><br><br>
      <%= @adoption.pet.name %> is very excited for his/her new home!
    </h4><br><br>
  </div>

 <div class="b">
    <ul class="pet-adoption-info-details">
      <li><label>Name:</label>
      <%= @adoption.pet.name.capitalize %><br></li>

      <li><label>Nickname:</label>
      <%= @adoption.pet.nick_name %><br></li>

      <li><label>Pet Type:</label>
      <%= @adoption.pet.category %><br></li>

      <li><label>Breed:</label>
      <%= @adoption.pet.breed %><br></li>

      <li><label>Color:</label>
      <%= @adoption.pet.color %><br></li>

      <li><label>Age:</label>
      <%= @adoption.pet.age %><br></li>

      <li><label>Gender:</label>
      <%= @adoption.pet.gender %><br></li>

      <li><label>New Owner:</label>
      <%= @adoption.user.username.capitalize %><br></li>
    </div>

    <div class="a">
    <%= image_tag(@adoption.pet.img_url, size: "450x500") %><br><br>
    </div>

  </div>
</body>
